
@{
    Layout = null;
    ViewBag.Title = "Index";
}
<!DOCTYPE HTML>
<html>
<head>
    <title>Dashboard</title>
    <link type="text/css" rel="stylesheet" href="../../bundles/css/materialize.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <script src="../../bundles/js/jquery.min.js"></script>
    <script src="../../bundles/js/materialize.js"></script>
    <link href="../../bundles/css/ghpages-materialize.css" type="text/css" rel="stylesheet" media="screen,projection">

    <script>

            $(".button-collapse").sideNav();
            $(document).ready(function() {
                $('.modal-trigger').leanModal();
            });
    </script>
    <!-- CSS goes in the document HEAD or added to your external stylesheet -->
    <style type="text/css">
        table.gridtable {
            font-family: inherit;
            font-size: 15px;
            color: #333333;
            border-width: 1px;
            border-color: #666666;
            border-collapse: collapse;
            line-height: 1;
        }

            table.gridtable th {
                border-width: 1px;
                padding: 8px;
                border-style: solid;
                border-color: #666666;
                background-color: #dedede;
            }

            table.gridtable td {
                border-width: 4px;
                padding: 5px;
                border-style: solid;
                border-color: #f5f5f5;
                background-color: #ffffff;
                height: 85px;
                text-align: center;
            }

            table.gridtable i {
                height: 1;
                font-size: 36px;
            }
            table.gridtable p {
                height: 1;
                font-size: 10px;
                display:inline-block;
                
            }
    </style>
</head>
<body class="grey lighten-5">
    <!-- top nav -->
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper cyan darken-3 z-depth-1">
                <a href="#" class="brand-logo">Logo</a>
                <a href="#" data-activates="slide-out" class="button-collapse">
                    <i class="material-icons">menu</i>
                </a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li>
                        <a href="#">
                            <i class="material-icons">mail_outline</i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="material-icons">notifications_none</i>
                        </a>
                    </li>
                    <li>
                        <a href="#">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- top nav end -->
    <!-- side nav -->
    <ul id="slide-out" class="side-nav fixed grey lighten-4 z-depth-3">
        <li class="hoverable">
            <div class="userView ">
                <img class="background" src="../../bundles/images/office3.jpg">
                <a href="#!user">
                    <img class="circle" src="../../bundles/images/yuna.jpg">
                </a>
                <a href="#!name">
                    <span class="white-text name">John Doe</span>
                </a>
                <a href="#!email">
                    <span class="white-text email">jdandturk@gmail.com</span>
                </a>
            </div>
        </li>
        <li>
            <!-- Table goes in the document BODY -->
            <div class="row">
                <table class="gridtable col l10 offset-l1">
                    <tr>
                        <td class="card indigo lighten-2 white-text hoverable">
                            <div>
                                <a href="@Url.Action("Index", "FinancialRecommendation")" style="display:inline-block;height:100%;">
                                    <p style="line-height:1;" class="white-text">
                                        <i class="material-icons">local_atm</i>
                                        <br />Financial Recommedation
                                    </p>
                                </a>
                            </div>
                        </td>
                        <td class="card indigo white-text hoverable">
                            <div>
                                <a href="@Url.Action("Index", "CareerOption")" style="display:inline-block;height:100%;">
                                    <p style="line-height:1;" class="white-text">
                                        <i class="material-icons">business_center</i>
                                        <br />Career Recommedation
                                    </p>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="card indigo white-text hoverable">
                            <i class="material-icons">assessment</i>
                            <br>Track Progress
                        </td>
                        <td class="card indigo lighten-2 white-text hoverable"><i class="material-icons">today</i><br>Event Planning</td>
                    </tr>
                    <tr>
                        <td class="card indigo lighten-2 white-text hoverable"><i class="material-icons">remove_red_eye</i><br>Track Events</td>
                        <td class="card indigo white-text hoverable"><i class="material-icons">assignment_turned_in</i><br>Track Review Meetings</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="card indigo lighten-1 white-text hoverable"><i class="material-icons">compare_arrows</i><br>Connect With Export Group</td>
                    </tr>
                    <tr>
                        <td class="card indigo white-text hoverable"><i class="material-icons">account_balance</i><br>Manage School Insurance</td>
                        <td class="card indigo lighten-2 white-text hoverable"><i class="material-icons">monetization_on</i><br>Crowd Funding</td>
                    </tr>
                    
                </table>
            </div>
        </li>
    </ul>

    <!-- side nav end-->
    <!-- card -->

    <div class="row">
        <div class="col s10 m10 l7 offset-l4 offset-s1 offset-m1">

            <div class="card grey lighten-5 black-text hoverable">
                <div class="card-content  cyan darken-2 white-text">
                    <span class="card-title">Status of Recommendation</span>
                </div>
                <div class="card-content ">
                    <div class="row">
                        <div id="eventchart" style="height: 300px; width: 100%;"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s10 m10 l7 offset-l4 offset-s1 offset-m1">

                <div class="card grey lighten-5 black-text hoverable">
                    <div class="card-content  cyan darken-2 white-text">
                        <span class="card-title">Event Scheduled for various Interest</span>
                    </div>
                    <div class="card-content ">
                        <div class="row">
                            <div id="interestchart" style="height: 300px; width: 100%;"></div>
                        </div>
                    </div>
                </div>
            </div>

            <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
            <script src="../../bundles/js/materialize.min.js"></script>
            <script type="text/javascript">
        window.onload = function () {
            var data;
            var insurerChartData;
            var insurereventChartData;
            $.ajax({
                type: 'GET',
                url: "../../bundles/js/InsurerChartData.json",
                data: data,
                async: false,
                beforeSend: function (xhr) {
                    if (xhr && xhr.overrideMimeType) {
                        xhr.overrideMimeType('application/json;charset=utf-8');
                    }
                },
                dataType: 'json',
                success: function (data) {
                    insurerChartData = data;

                }
            });

            $.ajax({
                type: 'GET',
                url: "../../bundles/js/InsurerChartEventData.json",
                data: data,
                async: false,
                beforeSend: function (xhr) {
                    if (xhr && xhr.overrideMimeType) {
                        xhr.overrideMimeType('application/json;charset=utf-8');
                    }
                },
                dataType: 'json',
                success: function (data) {
                    insurereventChartData = data;

                }
            });


            var event = new CanvasJS.Chart("eventchart", {
                theme: "theme3",
                backgroundColor: "#fafafa",
                legend: {
                    maxWidth: 200,
                    itemWidth: 60
                },
                data: [{
                    type: "pie",
                    showInLegend: true,
                    legendText: "{indexLabel}",
                    dataPoints: insurereventChartData
                }]
            });
            event.render();
            var interest = new CanvasJS.Chart("interestchart", {
                theme: "theme3",
                backgroundColor: "#fafafa",
                legend: {
                    maxWidth: 200,
                    itemWidth: 60
                },
                data: [{
                    type: "pie",
                    showInLegend: true,
                    legendText: "{indexLabel}",
                    dataPoints: insurerChartData
                }]
            });
            interest.render();
        }
            </script>
            <script type="text/javascript" src="../../bundles/js/canvasjs.min.js"></script>
            <script type="text/javascript">
        $('.button-collapse').sideNav();
            </script>
</body>
</html>
