
@{
    Layout = null;
}
<!DOCTYPE HTML>
<html>
<head>
    <title>Domestic     Financial Recomendation</title>
    <link type="text/css" rel="stylesheet" href="./bundles/css/materialize.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="./bundles/js/materialize.js"></script>
    <link href="http://materializecss.com/css/ghpages-materialize.css" type="text/css" rel="stylesheet" media="screen,projection">

    <script>

        $(".button-collapse").sideNav();
        $(document).ready(function () {
            $('.modal-trigger').leanModal();
        });
    </script>
    <!-- CSS goes in the document HEAD or added to your external stylesheet -->
    <style type="text/css">
        table.gridtable {
            font-family: inherit;
            font-size: 15px;
            color: #333333;
            border-width: 1px;
            border-color: #666666;
            border-collapse: collapse;
            line-height: 1;
        }

            table.gridtable th {
                border-width: 1px;
                padding: 8px;
                border-style: solid;
                border-color: #666666;
                background-color: #dedede;
            }

            table.gridtable td {
                border-width: 4px;
                padding: 5px;
                border-style: solid;
                border-color: #f5f5f5;
                background-color: #ffffff;
                height: 85px;
                text-align: center;
            }

            table.gridtable i {
                height: 1;
                font-size: 36px;
            }
    </style>
</head>
<body class="grey lighten-5">
    <!-- top nav -->
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper cyan darken-3 z-depth-1">
                <a href="#" class="brand-logo">Logo</a>
                <a href="#" data-activates="slide-out" class="button-collapse">
                    <i class="material-icons">menu</i>
                </a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li>
                        <a href="#">
                            <i class="material-icons">mail_outline</i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="material-icons">notifications_none</i>
                        </a>
                    </li>
                    <li>
                        <a href="#">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- top nav end -->
    <!-- side nav -->
    <ul id="slide-out" class="side-nav fixed grey lighten-4 z-depth-3">
        <li class="hoverable">
            <div class="userView ">
                <img class="background" src="./bundles/images/office3.jpg">
                <a href="#!user">
                    <img class="circle" src="./bundles/images/yuna.jpg">
                </a>
                <a href="#!name">
                    <span class="white-text name">John Doe</span>
                </a>
                <a href="#!email">
                    <span class="white-text email">jdandturk@gmail.com</span>
                </a>
            </div>
        </li>

        <li>
            <!-- Table goes in the document BODY -->
            <div class="row">
                <table class="gridtable col l10 offset-l1">
                    <tr>
                        <td class="card indigo lighten-2 white-text hoverable">
                            <div>
                                <a href="@Url.Action("Index", "FinancialRecommendation")" style="display:inline-block;height:100%;">
                                    <p style="line-height:1;" class="white-text">
                                        <i class="material-icons">local_atm</i>
                                        <br />Financial Recommedation
                                    </p>
                                </a>
                            </div>
                        </td>
                        <td class="card indigo white-text hoverable">
                            <div>
                                <a href="@Url.Action("Index", "CareerOption")" style="display:inline-block;height:100%;">
                                    <p style="line-height:1;" class="white-text">
                                        <i class="material-icons">business_center</i>
                                        <br />Career Recommedation
                                    </p>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="card indigo white-text hoverable">
                            <i class="material-icons">assessment</i>
                            <br>Track Progress
                        </td>
                        <td class="card indigo lighten-2 white-text hoverable"><i class="material-icons">today</i><br>Event Planning</td>
                    </tr>
                    <tr>
                        <td class="card indigo lighten-2 white-text hoverable"><i class="material-icons">remove_red_eye</i><br>Track Events</td>
                        <td class="card indigo white-text hoverable"><i class="material-icons">assignment_turned_in</i><br>Track Review Meetings</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="card indigo lighten-1 white-text hoverable"><i class="material-icons">compare_arrows</i><br>Connect With Export Group</td>
                    </tr>
                    <tr>
                        <td class="card indigo white-text hoverable"><i class="material-icons">account_balance</i><br>Manage School Insurance</td>
                        <td class="card indigo lighten-2 white-text hoverable"><i class="material-icons">monetization_on</i><br>Crowd Funding</td>
                    </tr>
                    <tr>
                        <td class="card indigo lighten-1 white-text hoverable"><i class="material-icons">local_atm</i><br>Finantial Recomendation</td>
                        <td class="card indigo white-text hoverable"><i class="material-icons">business_center</i><br>Career Recomendation</td>
                    </tr>
                </table>
            </div>
        </li>
    </ul>

    <!-- side nav end-->
    <br>
    <br>
    <!-- card -->
    <div class="row">
        <div class="col s10 m10 l7 offset-l4 offset-s1 offset-m1">
            <h3 class="flow-text">
                <font color="#0097a7" size="23">Financial Recomendation</font>
            </h3>
            <div>
                <table>
                    <tr>
                        <td>
                            <a href=@Url.Action("Index", "FinancialRecommendation")>Domestic</a>
                            <a href=@Url.Action("AbroadIndex", "FinancialRecommendation")>Aboard</a>
                        </td>
                    </tr>
                </table>
            </div>
            <h4 class="head-content">@ViewData["Selected"] - Short Fall Projection</h4>
            <div class="events">
                <div class="container">
                    <div class="row">
                        <div class="col l12">
                            <div id="chartContainer" style="height: 300px; width: 80%;"></div>
                        </div>
                    </div>
                </div>
            </div>

            <h4 class="head-content">Financial Portfolio</h4>
            <div class="interest">
                <div class="container">
                    <div class="row">
                        <div class="col l12">
                            <div id="chartContainer2" style="height: 300px; width: 80%;"></div>
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <h4 class="head-content">
                                Recommended Plans
                            </h4>
                        </div>
                        <table>
                            <tr>
                                <td>
                                    1.
                                </td>
                                <td>
                                    <a href=@Url.Action("index","illustration")>SBI Life - Smart Scholar</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    2.
                                </td>
                                <td>
                                    <a href=@Url.Action("index","illustration")> SBI Life - Smart Champ Insurance</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!-- card -->
            <!-- chart -->

            <script src="~/scripts/jquery-1.10.2.js"></script>
            <script src=".././bundles/js/materialize.min.js"></script>
            <script type="text/javascript">
                window.onload = function () {
                    var data;
                    var recomendationChartData;
                    $.ajax({
                        url: ".././FinancialRecommendation/FactFindData",
                        type: "GET",
                        data: data,
                        async: false,
                        beforeSend: function (xhr) {
                            if (xhr && xhr.overrideMimeType) {
                                xhr.overrideMimeType('application/json;charset=utf-8');
                            }
                        },
                        dataType: "json",
                        success: function (data) {
                            recomendationChartData = JSON.parse(data);
                        }

                    });

                    var recommendationData;
                    var datalist;
                    $.ajax({
                        url: ".././FinancialRecommendation/GetFinancialRecomandation",
                        type: "GET",
                        data: data,
                        async: false,
                        beforeSend: function (xhr) {
                            if (xhr && xhr.overrideMimeType) {
                                xhr.overrideMimeType('application/json;charset=utf-8');
                            }
                        },
                        dataType: "json",
                        success: function (data) {
                            recommendationData = data;
                            datalist = [

                         { y: 0, label: " " },
                         { y: 0, label: " " },
                       { y: recommendationData.ActualCost, label: "Actual" },
                       { y: 0, label: " " },
                         { y: 0, label: " " },
                         { y: 0, label: " " },
                         { y: 0, label: recommendationData.YearDifference + "years" },
                         { y: 0, label: " " },
                         { y: 0, label: " " },
                         { y: 0, label: " " },
                       { y: recommendationData.ProjectedCost, label: "Projected" },
                         { y: 0, label: " " }

                            ]
                        }

                    });

                    var chart = new CanvasJS.Chart("chartContainer", {
                        backgroundColor: "#fafafa",
                        animationEnabled: true,
                        axisX: {
                            interval: 1,
                            gridThickness: 0,
                            labelFontSize: 15,
                            labelFontStyle: "normal",
                            labelFontWeight: "normal",
                            labelFontFamily: "Lucida Sans Unicode"

                        },
                        axisY2: {
                            interlacedColor: "rgba(1,77,101,.)",
                            gridColor: "rgba(1,77,101,.1)"

                        },

                        data: [
                        {
                            type: "bar",
                            name: "companies",
                            axisYType: "secondary",
                            color: "#014D78",
                            toolTipContent: "Rs.{y}",
                            dataPoints: datalist
                        }

                        ]
                    });
                    var chart1 = new CanvasJS.Chart("chartContainer2",
                       {
                           backgroundColor: "#fafafa",
                           animationEnabled: true,
                           legend: {
                               verticalAlign: "center",
                               horizontalAlign: "right"
                           },
                           data: [
                           {
                               indexLabelFontSize: 20,
                               indexLabelFontFamily: "Monospace",
                               indexLabelFontColor: "darkgrey",
                               indexLabelLineColor: "darkgrey",
                               indexLabelPlacement: "outside",
                               type: "pie",
                               showInLegend: true,
                               toolTipContent: "Rs.{y} - <strong>#percent%</strong>",
                               dataPoints: recomendationChartData
                           }
                           ]
                       });

                    chart.render();
                    chart1.render();
                }

            </script>
            <script type="text/javascript" src="../../bundles/js/canvasjs.min.js"></script>
            <script type="text/javascript">

                $('.button-collapse').sideNav();

            </script>
        </div>
    </div>
</body>
</html>
